<div class="center jumbotron">
<h1> Bienvenido a Compralo</h1>
<h2>
donde vendes todo antes de que llege a bodega
</h2>
<%= link_to "Registrate!", singup_path, class: "btn btn-lg btn-primary" %>
</div>
