<h1>Cambio de contraseña</h1>
<p>Resetea tu passsword en el siguiente link:</p>
<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,email: @user.email) %>
<p>El link expira en 2 horas.</p>
<p>
Si no has pedido resetear tu passsword, por favor ignora este mail y tu mail seguira como esta.
</p>